@import url('https://fonts.googleapis.com/css2?family=DM+Serif+Text:ital@0;1&family=Merriweather:ital,opsz,wght@0,18..144,300..900;1,18..144,300..900&family=Playfair+Display:ital,wght@0,400..900;1,400..900&display=swap');

*{
    box-sizing: border-box;
}

body,button,input,select,textarea{
    margin:0;
    background-color:#2E2E2E;
 
}
p,td,button,th{
    font-family: 'Merriweather', sans-serif;


}
h1,h2,h3,h4,li{
    font-family: 'DM Serif Text', sans-serif;
}
.container{
    max-width: 1400px;
    margin: auto;
}


/* Inicio del Header*/

header {
    border-bottom: 1px solid  #F5F1E3; 
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.1);
  z-index: 1000;
}

header .container {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    padding: 10px;
}

.nombre-empresa {
    color: #F5F1E3;
    font-size: 30px;
    margin: 0;
}

.logo {
    display: flex;
    align-items: center;
}

.logo img {
    height: 120px;
    margin-right: 10px;
    margin-left: 10px;
    margin-top: 10px;
    margin-bottom: 10px;

}

nav .menu {
    display: flex;
    list-style: none;
}


.menu li a{
    display: block;
    width: 100%;
    padding: 10px 15px;
    

}
.menu-vertical{
    position: absolute;
    display: none;
    list-style: none;
    padding: 0;
    margin: 0;
    background-color: #242323;

}

.menu li:hover > .menu-vertical { /*hijo directo de .menu li, por eso se le aplica dipslay block a la clase */
    display: block;

}

/*ul:hover .menu-vertical{
    transform:  translateX(10px); /* moverá el ícono un poco cuando el mouse pase por encima

}*/

/*para que el menu desplegablede acceder que no sobresalga*/
@media (min-width: 921px) and (max-width:1150px) {
    .menu-vertical{
        position: absolute;
        display: none;
        list-style: none;
        padding: 0;
        margin: 0;
        background-color: #242323;

    }
    ul:hover .menu-vertical{
        transform:  translateX(-10px); /* moverá el ícono un poco para que no salga de la pantalla */
    }
    }

.menu-vertical li:hover{
    background-color: #1b1b1b;
    
}

.menu-vertical li a{
    display: block;
    color: #F5F1E3;
    font-size: 18px;
    padding: 15px 15px 15px 20px;
    
}

a {
    text-decoration: none;
    color: #F5F1E3;
    font-size: 20px;
}

nav a:hover {
    color:#C9A66B;
}


.icon {
    width: 14px; /* Puedes ajustar el tamaño según lo que prefieras */
    height: 14px; /* Ajusta también el salto */
    transition: transform 0.3s ease; /* Agrega una transición suave al ícono */
}

.nav-link:hover .icon {
    transform: rotate(180deg); /* Este efecto moverá el ícono un poco cuando el mouse pase por encima */
}

.hamburguer {
    display: none;
    flex-direction: column;
    cursor: pointer;
    top: 30px;            /* <-- Ajusta según el alto de tu header */
    right: 30px;          /* <-- La ubica a la derecha */
    z-index: 1100;        /* <-- Asegura que esté encima de otros elementos */
}

.bar {
    width: 30px;
    height: 3px;
    background-color: #F5F1E3;
    margin: 4px 0;
    transition: 0.4s;
}



/*Header Responsive*/
@media (max-width: 920px) {
    header .container {
      position: relative;  /* Cambia a espacio entre para que el logo y el menú se alineen correctamente */
      z-index: 10000;
      justify-content: space-between;
    }
   
    nav .menu{
        display: none;
        flex-direction: column; 
        position: absolute;
        top: 100%; 
        right: 0;
        width: 100%;
        text-align: center;
        margin: 0;
        padding: 0;
    }

    nav .nav-link{
        background-color: #F5F1E3;
        color: #2E2E2E;
    }
    nav .menu li {
        margin: 7px 0; 
    }

    nav .hamburguer {
        display: flex; /* Muestra el ícono de hamburguesa en pantallas pequeñas */
    }

    nav .menu.show{
        display: flex; /* Muestra el menú cuando se activa */
        background-color: #F5F1E3;
    }

    .menu li {
        width: 100%;
        border-bottom: 1px solid #ccc;
        
    }

    .menu-vertical {
        position: static;
        background-color: #2E2E2E;
        width: 100%;        
        
    }
    
    .nombre-empresa {
        text-align: left;
      
    }

}

/*header menu responsive*/
@media (min-width:0px)and (max-width: 619px) {
    header .container {
        align-items: center;
        text-align: center;
        flex-direction: column;
    }
    .menu .nav-link{
            font-size: 15px;
        }
    .nombre-empresa{
        font-size: 27px;
    }

    .menu-vertical li a{
        font-size: 15px;
    }
}

@media (min-width:620px)and (max-width: 920px) {
    header .container {
        align-items: center;
    }
    .menu .nav-link{
            font-size: 18px;
        }
    .nombre-empresa{
        font-size: 27px;
    }

    .menu-vertical li a{

        font-size: 18px;
    }
}

/*calendario*/

main {
  padding: 20px;
  background-color: #F5F1E3;
  font-family: 'Merriweather', sans-serif;

}
.calendario {
  margin: 2rem auto;
  text-align: center;
  background: #2E2E2E;
  padding: 1rem;
  box-shadow: 0 5px 15px rgba(92, 31, 31, 0.1);
  
}

.calendario h2 {    
  margin-bottom: 1rem;
  color: #F5F1E3;
  margin-top: 0;
  

}

.calendario-grid {
  display: grid;
  grid-template-columns: repeat(7, 1fr);
  gap: 10px;
}

.dia {
  padding: 10px;
  font-weight: bold;
  border-radius: 5px;
  background: #F5F1E3;
  border: 1px solid #2f2d43;
  min-height: 100px;
  display: flex;
  gap: 7px;
  
  /*align-items: center;*/
}

.dia .fecha {
  font-weight: bold;
  font-size: 1.2rem;
}

.dia .detalle {
  font-size: 1,2rem;
  line-height: 1.1;
}

.cabecera {
  padding: 10px;
  border-radius: 5px;
  background:  #6A1B1A;
  color: #F5F1E3;
  border: 1px solid #2f2d43;
  height: 75px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.vacio {
  background: transparent;
  border: none;
}

.curso {
  background: #6A1B1A;
  color: #F5F1E3;
  border: 1.5px solid #2f2d43;
  position: relative;
  animation: resaltar 1.5s infinite alternate ;
}

.cursoI {
  background: #C9A66B;
  border: 1.5px solid #2f2d43;
  color: #2e2e2e;
  position: relative;
  animation: resaltar2 1.5s infinite alternate ;
}

@keyframes resaltar {
  from {
    background: #6A1B1A;
    box-shadow: 0 0 5px #2f2d43;
    transform: scale(0.99);
  }
  to {
    background: #6A1B1A;
    transform: scale(1.15);
  }
}

@keyframes resaltar2 {
  from {
    background: #C9A66B;
    box-shadow: 0 0 5px #2f2d43;
    transform: scale(0.99);
  }
  to {
    background: #C9A66B;
    transform: scale(1.15);
  }
}


@media(max-width: 1020px){
    #calendario.container{
    width: fit-content;
    }

    .calendario-grid {
    display: grid;
    grid-template-columns: repeat(7, 1fr);
    gap:9px;

    }

    .dia {
    background: #acbdce;
    border: 1px solid #2f2d43;
    border-radius: 5px;
    height: 70px; /* tamaño fijo para todos */
    padding: 5px;
    display: flex;
    flex-direction: column;
    justify-content: start;
    overflow: hidden;
    box-sizing: border-box;
    }
    
    .vacio {
    background: transparent;
    border: none;
    }

    .dia .fecha {
    font-weight: bold;
    font-size: 0.9rem;
    }

    .dia .detalle {
    font-size: 0.9rem;
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 4; /* máximo de 3 líneas */
    -webkit-box-orient: vertical;
    }
    
}


/*inicio de footer*/
footer .container{
    display: flex;
    height: 100px;
    background-color: #2E2E2E;
    justify-content: space-evenly;
    align-items: center;  
}

footer p{
    font-size: 20px;
    color: #F5F1E3;
    font-weight: bold;
    margin: 0;
}

.menufooter {
    display: flex;
    list-style: none;
    padding: 0;
    margin: 0;
}

.menufooter li {
    font-size: 30px;
    font-weight: bold;
    color:  #F5F1E3;
}

.menufooter a {
    text-decoration: none;
    font-weight: bold;
}

.icon-ig,.icon-tw,.icon-fb{
    font-size: 30px;
    color:  #F5F1E3;
    margin: 15px;

}
.icon-ig:hover,.icon-tw:hover,.icon-fb:hover{
    color: #C9A66B;
    cursor: pointer;
}


@media (max-width: 920px) {
    footer .container {
        flex-direction: column;
        align-items: center;
        text-align: center;
        margin-top: 25px;    
        margin-bottom: 25px;
    }

}